
todo_app/macos/Flutter/GeneratedPluginRegistrant.swift
todo_app/pubspec.lock
/sneaker_shop_app/build
/sneaker_shop_app/web
/sneaker_shop_app/windows
/sneaker_shop_app/macos
/sneaker_shop_app/linux
/sneaker_shop_app/ios
/sneaker_shop_app/android
/sneaker_shop_app/.dart_tool
/todo_app/.dart_tool
/todo_app/.idea
/todo_app/android
/todo_app/build
/todo_app/linux
/todo_app/macos
/todo_app/ios
todo_app/.flutter-plugins
todo_app/.flutter-plugins-dependencies
todo_app/todo_app.iml
/todo_app/windows
sneaker_shop_app/.vscode/settings.json
/light_dark_mode/ios
/light_dark_mode/macos
/light_dark_mode/windows
/light_dark_mode/web
/light_dark_mode/linux
/light_dark_mode/android
light_dark_mode/.metadata
light_dark_mode/pubspec.lock
light_dark_mode/analysis_options.yaml
/todo_app/web
todo_app/analysis_options.yaml
/state_management_app/macos
/state_management_app/windows
/state_management_app/web
/state_management_app/linux
state_management_app/pubspec.lock
/state_management_app/ios
/state_management_app/android
state_management_app/analysis_options.yaml
state_management_app/.metadata
/state_management_app/build
/state_management_app/.idea
/state_management_app/.dart_tool
state_management_app/state_management_app.iml
/minimal_shop_app/.dart_tool
/.vscode
/note_apps/android
/note_apps/ios
/note_apps/macos
/note_apps/windows
/note_apps/web
/note_apps/linux
note_apps/pubspec.lock
note_apps/.metadata
note_apps/analysis_options.yaml
note_apps/devtools_options.yaml
minimal_shop_app/pubspec.lock
habit_tracker_app/.metadata
habit_tracker_app/analysis_options.yaml
/habit_tracker_app/android
/habit_tracker_app/ios
/habit_tracker_app/macos
/habit_tracker_app/linux
/habit_tracker_app/windows
/habit_tracker_app/web
habit_tracker_app/pubspec.lock
/note_apps
/note_apps
/note_apps
/note_apps
/notes_app/ios
/notes_app/linux
/notes_app/macos
/notes_app/windows
/note_apps
/notes_app/android
/notes_app/web
notes_app/pubspec.lock
